<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui">
    <h:head>
        <title>Opciones Producto</title>
    </h:head>

    <style>
        .padre {
            height: 720px;


            /*IMPORTANTE*/
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .panels{
            height: 500px;


            /*IMPORTANTE*/
            display: flex;
            justify-content: center;
            align-items: center;
        }
        

    </style>

    <h:body class="padre">
        <b:container >
            <h1 style="text-align: center">OPCIONES DE PRODUCTO</h1>
            <b:row style="padding: 25px;">
                <b:column span="6"><h:outputText />
                    <b:panel class="panels">
                        <h:form>
                            <b:image name="user" value="https://image.flaticon.com/icons/png/512/107/107831.png"  tooltip="Producto Nuevo" tooltipPosition="auto" style="width:40%; padding: 20px;"/>
                            <b:button value="Crear Nuevo Producto" look="success" size="lg" href="new-product.xhtml"/>
                            
                        </h:form>
                    </b:panel>

                </b:column>
                <b:column span="6"><h:outputText />
                    <b:panel class="panels">
                        <h:form>
                            <p:growl id="growl" showDetail="true" sticky="true" />  
                            <b:image name="user" value="https://img.icons8.com/small/1600/ingredients-list.png"  tooltip="Lista Productos" tooltipPosition="auto" style="width:40%; padding: 20px;"/>
                            <b:commandButton value="Listar Productos" look="primary" size="lg" actionListener="#{productoBean.saveMessage()}"/>
                            
                        </h:form>
                    </b:panel>
                </b:column>
            </b:row>
        </b:container>
    </h:body>
</html>
