<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui">

    <h:head>
        <title>Login</title>
    </h:head>
    <center>
        <style>
            .padre {
                height: 720px;
                
                 
                /*IMPORTANTE*/
                display: flex;
                justify-content: center;
                align-items: center;
            }


        </style> 
        <h:body class="padre"> 
            <h:form id="loginform">
                <p:growl id="growl" showDetail="true" sticky="true" life="3000" />
                <h1 style=" text-align: center">PROMAICA WEB TEST</h1>
                <p:panel  style="width: 360px; padding: 10px 10px;">
                    <h3 style=" text-align: center">Inicio de Sesión</h3>
                    <b:image name="user" value="https://images.vexels.com/media/users/3/135246/isolated/preview/df491bf444acfa945630c22389140d4a-icono-de-la-sombra-de-usuario-by-vexels.png"  tooltip="Producto Nuevo" tooltipPosition="center" style="width:80%; padding: 20px;"/>
                    <h:panelGrid id="loginPanel" columns="2" cellpadding="2" style="text-align: center;">

                        <h:outputLabel for="username" value="Usuario: *"/>

                        <p:inputText id="username" value="#{loginBean.username}" required="true"></p:inputText>

                        <p:spacer></p:spacer>

                        <p:message for="username">

                        </p:message>

                        <h:outputLabel for="password" value="Password: *"/>

                        <p:password id="password" value="#{loginBean.password}" feedback="false"></p:password>

                        <p:spacer></p:spacer>

                        <p:message for="password"></p:message>

                        <p:spacer></p:spacer>
                        
                        <b:commandButton styleClass="btn btn-primary" action="#{loginBean.login()}" value="Iniciar" update=":loginform" ajax="true"/>
                    </h:panelGrid>
                </p:panel>
            </h:form>
        </h:body>
    </center>       
</html>
