<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui">

    <h:head>
        <title>Producto Nuevo</title>
    </h:head>
    <center>
        <style>
            .padre {
                height: 720px;


                /*IMPORTANTE*/
                display: flex;
                justify-content: center;
                align-items: center;
            }


        </style> 
        <h:body> 
            <h:form id="form">
                <p:growl id="growl" showDetail="true" sticky="true" life="3000" />
                 
                <h1 style=" text-align: center; padding: 20px;">NUEVO PRODUCTO</h1>
                <p:panel  style="width: 360px; padding: 10px 10px;">
                    <h3 style=" text-align: center"></h3>
                    <b:image name="user" value="https://image.flaticon.com/icons/png/512/107/107831.png"  tooltip="Producto Nuevo" tooltipPosition="center" style="width:60%; padding: 20px;"/>
                    <h:panelGrid id="Panel" columns="2" cellpadding="5" >

                        <b:row>
                            <b:column span="6"><h:outputText />
                                <h:outputLabel for="nombre" value="Nombre Producto:  "/>
                            </b:column>
                            <b:column span="6"><h:outputText />
                                <p:inputText id="nombre" value="#{productoBean.producto.name}" required="true" placeholder="Nombre del Producto"></p:inputText>
                            </b:column>
                        </b:row>

                        <p:spacer></p:spacer>

                        <b:row>
                            <b:column span="6"><h:outputText />
                                <h:outputLabel for="precio" value="Precio Producto:  "/>
                            </b:column>
                            <b:column span="6"><h:outputText />
                                <p:inputText id="precio" value="#{productoBean.producto.price}" required="true" placeholder="Precio del Producto"></p:inputText>
                            </b:column>
                        </b:row>
                        
                        <p:spacer></p:spacer>

                        <b:row>
                            <b:column span="6"><h:outputText />
                                <h:outputLabel for="descripcion" value="Descripcion Producto:  "/>
                            </b:column>
                            <b:column span="6"><h:outputText />
                                <p:inputTextarea id="descripcion" value="#{productoBean.producto.description}" required="true" placeholder="Nombre del Producto"></p:inputTextarea>
                            </b:column>
                        </b:row>

                        <p:spacer></p:spacer>

                        <p:spacer></p:spacer>
                        
                        <b:commandButton styleClass="btn btn-primary" ajax="true" value="Crear Producto" actionListener="#{productoBean.accionFormulario()}" update=":form Panel" style="margin: 15px 15px;"/>
                        
                    </h:panelGrid>
                </p:panel>
                <br/>
                <b:button  styleClass="btn btn-success" value="Volver" href="Home.xhtml"/>
            </h:form>
        </h:body>
    </center>       
</html>
